/* 
  author : besingamk
  authors url: besingamk.github.io/besingamk
  License: none









   ******************************************
   reset css 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*
@import url(http://fonts.googleapis.com/css?family=Raleway+Dots); /* font-family: 'Raleway Dots', cursive; */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.centered_width {
	width: 980px;
	padding: 0;
	margin: 0 auto;
}

.clearfloat {
	clear: both;
}

body {
	background: #fbfbfb url(../images/pattern-bg.jpg);
}


/*fonts*/

@font-face {
	font-family: GeorgiaFont;
	src: url('Georgia.ttf'),
		 url('Georgia.eot');
}

@font-face {
	font-family: Calibri;
	src: url('CALIBRI.TTF'),
		 url('CALIBRI.eot');
}

@font-face {
	font-family: Caviar;
	src: url('CaviarDreams.ttf'),
		 url('CaviarDreams.eot');
}

.preloading {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 99999;
}

.preloading .preloading-carier {
	width: 200px;
	height: 25px;
	margin: 100px auto;
}

.preloading .preloading-carier p {
	font-family: "Caviar";
	font-size: 22px;
}

.preloading .preloading-carier p img {
	width: 20px;
	height: auto;
}

.header {
	width: 100%;
	height: 225px;
	float: left;
	background: #fff;
}

.header-item {
	margin-top: 35px;
}

.header-top-container {
	width: 980px;
}

.header-top-container .top-nav {
	width: 57%;
	float: left;
}

.header-top-container .top-nav li {
	display: inline-block;
	padding: 20px 10px 0 10px;
}

.header-top-container .top-nav li:after{
	margin-left: 20px;
	content: '/';
	color: #929292;
}
.header-top-container .top-nav li:last-child:after {
	content: '';
}

.header-top-container .top-nav li:first-child {
	padding-left: 0;
	margin-left: 0;
}

.header-top-container .top-nav li a {
	font-size: 12px;
	font-family: arial, sans-serif;
	text-decoration: none;
	color: #929292;
	text-transform: uppercase;
}

.header-top-container .search-form {
	float: right;
	width: 225px;
	margin-top: 15px;
}

.header-top-container .search-form input[type=text] {
	width: 144px;
	height: 16px;
	background: #e9e9e9;
	border: none;
	padding: 5px;
	font-family: "GeorgiaFont";
}

.header-top-container .search-form input[type=submit] {
	width: 66px;
	height: 26px;
	background: #e9e9e9;
	border: none;
}

.header-top-container .search-form ::-webkit-input-placeholder {
	font-family: "GeorgiaFont";
	font-style: italic;
	font-size: 12px;
}

.header-top-container .search-form ::-moz-placeholder {
	font-family: "GeorgiaFont";
	font-style: italic;
	font-size: 12px;
}

.header-top-container .search-form :-ms-input-placeholder  {
	font-family: "GeorgiaFont";
	font-style: italic;
	font-size: 12px;
}

.header-top-container hr.hr-line {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.logo-and-ads .logo {
	margin-top: 8px;
	float: left;
}

.logo-and-ads .ads {
	float: right;
	margin-right: 30px;
}

.main-menu {
	padding: 0;
	margin: 0;
	margin-top: 2px;
	width: 100%;
	background: url(../images/main-menu-bg.jpg) repeat-x;
	height: 53px;
	z-index: 2;
}

.main-nav {
	height: 70%;
	position: relative;
	top: 7px;
	width: 970px;
	border-left: 5px #898989 solid;
	border-right: 5px #898989 solid;
}


.main-nav ul.main-nav-ul li {
	display: inline-block;
	padding: 12px 20px;
}

.main-nav ul.main-nav-ul li a {
	color: white;
	text-decoration: none;
	font-family: "Calibri";
	text-transform: uppercase;
}


/*------------------------------------------------------
footer 

left side bar width = 230px

main content container = 550px

right side bar width = 200px

*/

.container {
	background: #fff;
	min-height: 100px;
	margin-top: 50px;
	z-index: 1;
	padding-bottom: 20px;
}

.container .left-side-bar, .container .main-container, .container .right-side-bar {
	margin-top: 25px;
}

.container .left-side-bar {
	width: 230px;
	float: left;
}

.container .left-side-bar  h3 {
	font-family: "GeorgiaFont";
	text-align: center;
	font-size: 16px;
}

.container .left-side-bar .current-issue {
	padding: 8px;
}
.container .left-side-bar .current-issue h1 {
	font-family: "GeorgiaFont";
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: -1px;
}

.container .left-side-bar .current-issue img {
	width: 180px;
	height: auto;
	margin: 18px;
}

.container .left-side-bar .current-issue p {
	text-align: center;
	font-family: "GeorgiaFont";
	font-size: 14px;
	width: 140px;
	margin: 0 auto;
	padding-bottom: 10px;
}

/*past issue*/

.container .left-side-bar  h3 {
	font-family: "GeorgiaFont";
	text-align: center;
	font-size: 16px;
}

.container .left-side-bar . {
	padding: 8px;
}
.container .left-side-bar .past-issue h1 {
	font-family: "GeorgiaFont";
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: -1px;
}

.container .left-side-bar .past-issue img {
	width: 180px;
	height: auto;
	margin: 18px;
}

.container .left-side-bar .past-issue p {
	text-align: center;
	font-family: "GeorgiaFont";
	font-size: 14px;
	width: 140px;
	margin: 0 auto;
	padding-bottom: 10px;
}

.buy-now {
	text-decoration: none;
	background: #de2c2c;
	padding: 5px 35px;
	color: white;
	border-radius: 5px;
	margin: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

.container hr.hr-dashed {
	border: 0;
	height: 0;
	border-top: 1px dashed rgba(0, 0, 0, 0.1);
	border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
	margin-left: 15px;
	margin-right: 15px;
}






/***********************************************************

Main Container*/





.container .main-container {
	width: 550px;
	float: left;
}
#wrapper {
}
#carousel-wrapper {
	padding-bottom: 10px;
	position: relative;
}
#carousel, #thumbs {
	overflow: hidden;
}
#carousel {
	box-shadow: 0 0 5px #899;
}
 
#carousel span, #carousel img,
#thumbs a, #thumbs img  {
	display: block;
	float: left;
}
#carousel span, #carousel a,
#thumbs span, #thumbs a {
	position: relative;
}
#carousel img,
#thumbs img {
	border: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#carousel img.glare,
#thumbs img.glare {
	width: 102%;
	height: auto;
}
 
#carousel span {
	width: 554px;
	height: 313px;
}
 
#thumbs-wrapper {
	padding-top: 5px;
	position: relative;
}
#thumbs a {
	width: 150px;
	height: 100px;
	margin: 0 5px;
}

#prev, #next {
	background: transparent url('../images/carousel_nav.png') no-repeat 0 0;
	display: block;
	width: 19px;
	height: 20px;
	margin-top: -10px;
	position: absolute;
	top: 50%;
}
#prev {
	background-position: 0 0;
	left: 10px;
}
#next {
	background-position: -19px 0;
	right: 10px;
}			
#prev:hover { 
	background-position: 0 -20px;				
}
#next:hover {
	background-position: -19px -20px;				
}
#prev.disabled, #next.disabled {
	display: none !important;
}


#thumbs a:hover, #thumbs a.selected {
	border-color: #566;
}

.caroufredsel_wrapper {
	background: transparent;
}

.container .main-container .whats-new {

}

.container .main-container .whats-new .whats-new-header {
	width: 550px;
	height: 44px;
	background: #ea861b url(../images/whats-new-bg.jpg) no-repeat;
	background-size: 100%;
	margin-top: -5px;
	margin-bottom: 5px;
}

.container .main-container .whats-new .whats-new-header h1 {
	margin: 15px;
	float: left;
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
}

.container .main-container .whats-new .whats-new-header h2.see-more a{
	text-decoration: none;
	color: #fff;
	margin: 15px;
	float: right;
	text-transform: uppercase;

} 

.whats-new-feeds {
	display: none;
}

.container .main-container .whats-new .whats-new-feeds .article {
	width: 183px;
	float: left;
}

.container .main-container .whats-new .whats-new-feeds .article img {
	width: 179px;
	margin: 2px;
}

.container .main-container .whats-new .whats-new-feeds .article h1 {
	padding-top: 5px;
	margin: 2px;
	font-size: 21.5px;
	letter-spacing: -1px;
}

.container .main-container .whats-new .whats-new-feeds .article p {
	font-family: arial;
	font-size: 12px;
	color: #8f8f8f;
}

.container .main-container .whats-new .whats-new-feeds .article p.author {
	padding: 10px 0;
	font-style: italic;
}
 
.container .main-container .whats-new .whats-new-list ul {
	padding: 0;
	margin: 0;
}

.container .main-container .whats-new .whats-new-list ul li {
	padding: 0;
	margin: 0;
	float: left;
	width: 183px;
}

.container .main-container .whats-new .whats-new-list ul li .article {
	height: 400px;
	overflow: hidden;
	padding-bottom: 10px;
}

.container .main-container .whats-new .whats-new-list ul li .article img {
	width: 179px;
	margin: 2px;
}

.container .main-container .whats-new .whats-new-list ul li .article h1 {
	padding-top: 5px;
	margin: 2px;
	font-size: 21.5px;
	letter-spacing: -1px;
}

.container .main-container .whats-new .whats-new-list ul li .article h1 a {
	text-decoration: none;
	color: #000;
}

.container .main-container .whats-new .whats-new-list ul li .article p {
	font-family: arial;
	font-size: 12px;
	color: #8f8f8f;
}

.container .main-container .whats-new .whats-new-list ul li .article p.author {
	padding: 10px 0;
	font-style: italic;
}

/* ********************************
the_post*/

.container .category h1 {
	font-family: "Caviar", sans-serif;
	color: #5c8aa1;
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
}

.container .category hr.dashed {
	border: 0;
	height: 0;
	border-top: 1px dashed rgba(0, 0, 0, 0.1);
	border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
	margin-left: 15px;
	margin-right: 15px;
}

.container .category .the_post_url {
	text-decoration: none;
	padding: 0;
	margin: 0;
}

.container .category .item {
	border: 1px #e2e2e2 solid;
	border-bottom: none;
}

.container .category .the_post_url .the_post {
	padding: 15px 5px;
	margin: 0;
	border-bottom: 1px #e2e2e2 solid
}

.container .category .the_post_url .the_post:hover {
	/*background: pink;*/
	background: #89cbec;
}

.container .category .the_post_url .the_post img {
	background: #fff;
	float: left;
	width: 50px;
	padding: 5px 5px;
	margin-right: 4px;
	border: 1px #e2e2e2 solid;
}

.container .category .the_post_url .the_post h2 {
	font-size: 20px;
	font-weight: bold;
	color: #000;
}

.container .category .the_post_url .the_post p {
	color: #444;
}

.container .category .the_post_url .the_post p.author {
	font-style: italic;
}

.pagi a {
	text-decoration: none;
	color: #89cbec;
	font-weight: bold;
}

.pagi a:hover{
	color: #5c8aa1;
}

.pagi a.active {
	color: #444;
}

.pagi {
	font-family: "GeorgiaFont";
	font-style: italic;
	color: #5c8aa1;
}

/*******************************************
End of container*/

.container .right-side-bar {
	width: 200px;
	float: right;
	padding: 0;
	color: #37332f;
}

.container .right-side-bar .sign-up img{
	padding: 0;
	margin: 18px;
	margin-top: -6px;
}

.container .right-side-bar .advertise {
	padding: 30px;
}

.container .right-side-bar .advertise h1  {
	font-family: "GeorgiaFont";
	font-size: 20px;
	text-align: center;
}

.container .right-side-bar .advertise p {
	font: 12px "GeorgiaFont";
	text-align: center;
	padding-bottom: 10px;
}

.container .social {
	padding: 30px;
	text-align: center;
}

.container .social h3 {
	font-family: "GeorgiaFont";
	font-size: 14px;
}

.container .social h1 {
	font-family: "GeorgiaFont";
	font-size: 20px;
	padding-bottom: 20px;
}

.container .social a img {
	position: relative;
	right: 12px;
}


.register-now {
	padding: 7px 10px;
	background: blue;
	text-decoration: none;
	color: #fff;
	background: #4d4d4d;
	font-family: "GeorgiaFont";
	font-size: 12px;
	text-transform: uppercase;
	margin: 12px;
}



/*------------------------------------------------------
footer */

.footer {
	padding: 20px;
}

.footer p {
	text-align: center;
	font-family: "GeorgiaFont";
	font-size: 14px;
	color: #818181;
}

.footer p a {
	text-decoration: none;
	color: #818181;
}

.footer p a:hover {
	color: #222;
}

/*media queries*/
@media screen and (max-width: 980px) {
	.header {
		width: 980px;
	}
}



